@{
    ViewBag.Title = "About Me";
}
<h1>@ViewBag.Title</h1>

<div>
    <h2 class="row">Education</h2>
    <p>Tennessee Technological University</p>


    <h2 class="row">Work Experience</h2>
    <p>Kroger</p>

</div>