@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>

<address>
    1484 Little Valley Rd<br />
    Maynardville, TN 37807<br />
    <abbr title="Phone">P:</abbr>
    865.801.2966
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jdchosie42@gmail.com">Click to email me</a><br />
    <strong>Github: </strong> <a href="http://www.github.com/jdchosie42">Click to see my code</a><br />
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/jeremy-chosie-36109452/">Click to see my business social media</a><br />
</address>