<body id="page-top">
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-1">Jeremy <span class="text-primary">Chosie</span></h1>
                <div class="subheading mb-5">
                    1484 Little Valley Road · Maynardville, TN 37807 · (865) 801-2966 · <a href="mailto:jdchosie42@gmail.com">jdchosie42@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    I am becoming more experienced with ASP.NET MVC framework. I have used the ionic framework (similar languages to MVC) to develop an app with a small team for a company based out of Nashville,
                    but can't show code because of an NDA.
                </p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/jeremy-chosie-36109452/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/jdchosie42" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <div>
                    <h2 class="mb-1">Work Experience</h2>
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Deli Clerk</h3>
                            <div class="subheading mb-3">Kroger</div>
                            <p>
                                This is a customer service job, so proper interaction with customers is the absolute highest priority. Balancing the day with order, cleanliness, and a fine attention to
                                detail are all musts. Honestly, I can't say more about this job because I never intended to keep it as long as I have; it was meant to be a quick money maker while I found
                                a development position.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">June 2018 - Present</span>
                        </div>
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Production Specialist/Trainer</h3>
                            <div class="subheading mb-3">Krispy Kreme</div>
                            <p>
                                This job helped pay for my B.S. in Computer Science. I was there Monday - Friday at 3 a.m. from the day the doors opened until they shut down the store without telling
                                any of the employees. My responsibilities included: donut production for the entire store; training any new production worker; assembly line maintenance
                                if it ever broke down; backroom stocking and inventory; general management.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">July 2016 - February 2018</span>
                        </div>
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Chemistry Teaching Assistant</h3>
                            <div class="subheading mb-3">Tennessee Technological University</div>
                            <p>
                                I taught anywhere between 3 to 5 labs per week. I was usually the lead instructor for the labs. This job really instilled a sense of leadership and management, as I had to
                                take control of up to 60 students in a lab and class setting. There were three of us graduate students per lab, but the leads took on the most responsibilities such as keeping
                                accurate online grade records, quiz creation, teaching the material to the students, etc. Ever engaging and teaching, this job was loads of fun.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">July 2016 - February 2018</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Bachelor of Science - Engineering</div>
                        <div>Computer Science - Software/Scientific Applications</div>
                        <div>GPA: 2.88</div>
                        <p>
                            I earned this degree by going to school full time and working full time (upwards of 40 work hours/18 credit hours per week. see Krispy Kreme description for starting hours), so my GPA suffered a little. It
                            is by no means an indicator of my knowledge or work effort.
                        </p>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Master of Science</div>
                        <div>Organic & Green Chemistry</div>
                        <p>
                            This was a very competitive posititon. No degree was earned. I decided to stop pursuing my degree when I realized I wanted to teach and couldn't do it with a Master's; My professors at the time
                            always said that programming would help in this field because the technology was outpacing the science. As I programmed on the side, I fell in love with the logic of coding and the rest is history.
                        </p>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Bachelor of Science - Arts & Sciences</div>
                        <div>Chemistry - Applied Chemistry</div>
                    </div>
                </div>

            </div>
        </section>
    <section class="p-lg-5" id="skills"></section>
    <section class="p-lg-5" id="interests"></section>
    </div>
</body>