@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0">
    <section class="p-lg-5" id="about">
        <h1 class="mb-1">Jeremy <span class="text-primary">Chosie</span></h1>
        <div class="subheading mb-5">
            1484 Little Valley Road · Maynardville, TN 37807 · (865) 801-2966 · <a href="mailto:jdchosie42@gmail.com">jdchosie42@gmail.com</a>
        </div>
        <p class="lead mb-5">
            I am becoming more experienced with ASP.NET MVC framework. I have used the ionic framework (similar languages to MVC) to develop an app with a small team for a company based out of Nashville.
        </p>
        <div class="social-icons">
            <a href="#">
                <i class="fab fa-linkedin-in">
                ::before
                </i>
            </a>
        </div>
    </section>    
</div>