<body id="page-top">
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-1">Jeremy <span class="text-primary">Chosie</span></h1>
                <div class="subheading mb-5">
                    1484 Little Valley Road · Maynardville, TN 37807 · (865) 801-2966 · <a href="mailto:jdchosie42@gmail.com">jdchosie42@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    I am becoming more experienced with ASP.NET MVC framework. I have used the ionic framework (similar languages to MVC) to develop an app with a small team for a company based out of Nashville,
                    but can't show code because of an NDA.
                </p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/jeremy-chosie-36109452/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/jdchosie42" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <div>
                    <h2 class="mb-1"><span class="text-primary">Work</span> Experience</h2><br />
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Deli Clerk/Customer Service Associate</h3>
                            <div class="subheading mb-3">Kroger</div>
                            <p>
                                This is a customer service job, so proper interaction with customers is the absolute highest priority. Balancing the day with order, cleanliness, and a fine attention to
                                detail are all musts. Honestly, I can't say more about this job because I never intended to keep it as long as I have; it was meant to be a quick money maker while I found
                                a development position.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">June 2018 - Present</span>
                        </div>
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Production Specialist/Trainer</h3>
                            <div class="subheading mb-3">Krispy Kreme</div>
                            <p>
                                This job helped pay for my B.S. in Computer Science. I was there Monday - Friday at 3 a.m. from the day the doors opened until they shut down the store without telling
                                any of the employees. My responsibilities included: donut production for the entire store; training any new production worker; assembly line maintenance
                                if it ever broke down; backroom stocking and inventory; general management.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">July 2016 - February 2018</span>
                        </div>
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Chemistry Teaching Assistant</h3>
                            <div class="subheading mb-3">Tennessee Technological University</div>
                            <p>
                                I taught anywhere between 3 to 5 labs per week. I was usually the lead instructor for the labs. This job really instilled a sense of leadership and management, as I had to
                                take control of up to 60 students in a lab and class setting. There were three of us graduate students per lab, but the leads took on the most responsibilities such as keeping
                                accurate online grade records, quiz creation, teaching the material to the students, etc. Ever engaging and teaching, this job was loads of fun.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary" style="font-weight: bold; font-size: 22px">July 2016 - February 2018</span>
                        </div>
                    </div>
                </div>
                <h2 class="mb-1"><span class="text-primary">Volunteer</span> Experience</h2><br />
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Crisis Counselor</h3>
                        <div class="subheading mb-3">Crisis Texting Hotline</div>
                        <p>
                            Volunteer work done online. They would text in, sometimes with serious problems and sometimes with not so serious problems, and it would be my job
                            to help them see how to best deal with their situations. I've delt with things from every day stress to potential suicides and loads in between. It was a rough
                            gig, which is why I only did it for 6 months. I would like to do it again when my life is more stable.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary" style="font-weight: bold; font-size: 22px">Jun 2016 - Jan 2017</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Bachelor of Science - Engineering</div>
                        <div>Computer Science - Software/Scientific Applications</div>
                        <div>GPA: 2.88</div>
                        <p>
                            I earned this degree by going to school full time and working full time (upwards of 40 work hours/18 credit hours per week. see Krispy Kreme description for starting hours), so my GPA suffered a little. It
                            is by no means an indicator of my knowledge or work effort.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary" style="font-weight: bold; font-size: 22px">Aug 2016 - May 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Master of Science</div>
                        <div>Organic & Green Chemistry</div>
                        <p>
                            This was a very competitive posititon. No degree was earned. I decided to stop pursuing my degree when I realized I wanted to teach and couldn't do it with a Master's; My professors at the time
                            always said that programming would help in this field because the technology was outpacing the science. As I programmed on the side, I fell in love with the logic of coding and the rest is history.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary" style="font-weight: bold; font-size: 22px">Aug 2014 - May 2016</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Tennessee Technological University</h3>
                        <div class="subheading mb-3">Bachelor of Science - Arts & Sciences</div>
                        <div>Chemistry - Applied Chemistry</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary" style="font-weight: bold; font-size: 22px">Jan 2010 - May 2014</span>
                    </div>
                </div>

            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>

                <div class="subheading mb-3">Programming Languages & Tools</div>

                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <i class="fab fa-html5">HTML5</i>
                        <i class="fab fa-java">Java</i>
                        <i class="fab fa-node">NodeJS</i>
                        <i class="fab fa-github-square">Github</i>
                        <i>C++</i>
                        <i>C#</i>
                        <i>SQL</i>
                    </li>
                </ul>

                <div class="subheading mb-3">Workflow</div>

                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development & Scrum
                    </li>
                </ul>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Non-Software Interests</h2>
                <p style="font-size: 20px">
                    This section is just to tell you a bit about myself outside of programming. <br /><br />
                    I'm a laid back person. I've been told I have the patience of a saint when it comes to dealing with peoples' eccentricities. I am a huge nerd (as demonstrated by most of my hobbies and career choice). I own two cats, they're 
                    jerks but I love them.<br /><br />
                    I have a variety of interests including but not limited to: Good food, video games, music of all kinds (excpt new country), skydiving, Brazilian Jiu Jitsu,
                    reading, writing, playing guitar, and playing piano.<br />
                </p>
            </div>
        </section>
    </div>
</body>